<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
  <targets>
    <target name="logfile" xsi:type="File" fileName="file.txt" />
    <target name="logconsole" xsi:type="Console" />
    <target name="Trace" xsi:type="Trace" />
  </targets>

  <rules>
    <logger name="OrmTxcSql.Trace.*" minlevel="Info"  writeTo="logconsole" />
    <logger name="OrmTxcSql.Debug.*" minlevel="Debug" writeTo="logfile" />
    <logger name="OrmTxcSql.Data"    minlevel="Debug" writeTo="Trace" />
    <logger name="OrmTxcSql.Sql"     minlevel="Debug" writeTo="Trace" />
  </rules>
</nlog>